body {
    font-family: monospace;
    background-color: black;
    color: #adff2f;
}

a {
    text-decoration: none;
    color: #adff2f;
}

a:visited {
    text-decoration: none;
    color: #adff2f;
}

a:hover {
    text-decoration: underline;
}

button {
    font-family: monospace;
    background: black;
    color: #adff2f;
    border: 1px solid #adff2f;
}

select {
    background: transparent;
    color: #adff2f;
    font-family: monospace;
    border: 1px solid;
}

input {
    background: black;
    color: #adff2f;
    font-family: monospace;
    border: 1px solid #adff2f;
}

table {
    border-collapse: collapse;
    border: 2px solid #006400;
}

table td, th {
    border: 1px solid #006400;
}
