body {
    font-family: monospace;
}

a {
    color: black;
}

select {
    background: transparent;
}

table {
    border-collapse: collapse;
    border: 2px solid #006400;
}

table td, th {
    border: 1px solid #006400;
}
